.user-card {
    background-color: darkblue;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    transition: .2s;
}

.user-card:hover {
    transform: scale(1.1);
}

.user-card h2 {
    text-align: center;
}